*{
    margin:0;
    padding : 0;
    box-sizing : 0;
}
.navbar1{
    display:flex;
    margin:0;
    padding : 0;
    justify-content:space-around;
    align-items:start;
    height : 100px;
    width:auto;
    color : rgb(127, 20, 20);
    background-color: antiquewhite;
}

.nav-links{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    width: 80%;
    height: 100%;
    
} 

.Home,.career,.about,.contact{
 text-decoration: none;
 color:brown;
 font-size: 17px;
 padding: 20px;
 margin:0,10px;
 cursor:pointer; 
}